:host {
    display: flex;
    section {
        margin-top: -6px;
        flex: 1 0;
        h4 {
            margin-bottom: 2px;
        }
        /deep/ {
            mat-radio-group {
                mat-radio-button:not(:last-child) {
                    margin-right: 20px;
                }
            }
            mat-checkbox {
                margin-top: -10px;
            }
        }
    }
}