<h2 mat-dialog-title translate>component.app.changePassword</h2>
<mat-dialog-content>
  <hcs-error-summary [errors]="errors"></hcs-error-summary>
  <form [formGroup]="formGroup" autocomplete="off">
    <input [value]="username" hidden autocomplete="username">
    <hcs-form-column>

      <mat-form-field>
        <mat-label translate>dialog.changePassword.OldPassword</mat-label>
        <input matInput type="password" autocomplete="new-password" formControlName="OldPassword">
        <mat-error *ngIf="formGroup.get('Password')?.invalid">{{formGroup.get('Password').errors|errorMessage}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label translate>dialog.changePassword.Password</mat-label>
        <input matInput type="password" autocomplete="new-password" formControlName="Password">
        <mat-error *ngIf="formGroup.get('Password')?.invalid">{{formGroup.get('Password').errors|errorMessage}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label translate>dialog.changePassword.ConfirmPassword</mat-label>
        <input matInput type="password" autocomplete="new-password" formControlName="ConfirmPassword">
        <mat-error *ngIf="formGroup.get('ConfirmPassword')?.invalid">{{formGroup.get('ConfirmPassword').errors|errorMessage}}</mat-error>
      </mat-form-field>
    </hcs-form-column>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">{{'dialog.confirm.no'|translate}}</button>
  <button mat-raised-button (click)="applyPasswrod()" color="warn">{{'dialog.confirm.yes'|translate}}</button>
</mat-dialog-actions>